/*!
 * Lassitude v0.0.7
 */

@import 'widgets';

html, body {
  background: #f4f4f4 image_url('/images/layout/boxes.png');
}

ul.breadcrumb {
  background-color: rgb(244, 244, 244);
  background-color: rgba(244, 244, 244, 0.9);
}

time.ago {
  color: #666;
  font-family: $lassitude-mono-font-family;
}

@import 'lassitude/header';
@import 'lassitude/page';
@import 'lassitude/footer';
