article.post-excerpt {
  padding: .2em 0 .4em;
  margin-bottom: 0;

  header {
    h1 {
      font-size: 1em;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .pubdate, .comments {
    font-size: 70%;
    margin-right: 0;
  }
  .comments {
    text-align: right;
  }
  .entry-summary{
    p {
      margin: 0;
    }
  }
}
