#site-page {
  background-color: rgb(244, 244, 244);
  background-color: rgba(244, 244, 244, 0.9);
  padding: 0 0 20px;
  min-height: 19em;
}

#site-page-header {
  margin-top: 0;
  padding-bottom: 0;
}
